.App {
  font-family: sans-serif;
  max-width: 600px;
  margin: auto;
  padding: 1.5rem;
}
body {
  background-color: #fffbeb;
  /* background-color: #f5f3ff; */
}
p {
  font-size: smaller;
}
/* button {
  padding: "0.5rem 0.5rem";
  cursor: "pointer";
  border: "1px solid black";
  margin: "0.5rem 0.1rem";
  background-color: lightgrey;
  border-radius: 1rem;
} */
